#Add Uploadthing secret and appId to setup fileupload https://uploadthing.com/

UPLOADTHING_TOKEN=
# mail resend
RESEND_API_KEY=

# GMAIL ACCOUNT FOR NODEMAILER
NEXT_PUBLIC_EMAIL_USER=
NEXT_PUBLIC_EMAIL_PWD=
# MONGODB_CREDENTIALS
NEXT_PUBLIC_MONGODB_PWD=
NEXT_PUBLIC_MONGODB_USER=

# MSD-DARAJA-SDK DETAILS
DARAJA_API_CONSUMER_SECRET=
DARAJA_API_CONSUMER_KEY=
DARAJA_API_PASS_KEY=
DARAJA_API_BUSINESS_SHORT_CODE=
DARAJA_API_BASE_URL=https://sandbox.safaricom.co.ke
DARAJA_API_APP_NAME=test-app

# Next auth https://next-auth.js.org/configuration/options
# Run this command to generate a a new NEXTAUTH_SECRET
# $ openssl rand -base64 32

NEXTAUTH_URL = http://localhost:3000
NEXTAUTH_SECRET=6TqrtmsiGZvKU4LePgA8HfUzS9ix42zDcsrfc/qtdmo=

# Go to github and setup the oauth configuration
# https://next-auth.js.org/providers/github#configuration
# https://github.com/settings/developers

# GOOGLE 0AUTH DETAILS FOR NEXT-AUTH
GOOGLE_ID=
GOOGLE_SECRET=

# APPLICATION 
APP_NAME


